// @import "styles/mixins.scss";
// @import "styles/variables.scss";

// @import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');


.playlist {
  &__item {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
    border-radius: 3rem;
   
    background-image: url("https://www.transparenttextures.com/patterns/skulls.png");

    background-color: rgb(62, 2, 2);

    color:whitesmoke; 

    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
  
  }
 
}

.playlist-info {

  // border:4px red;
  // border-style: solid;

  font-family: 'Gemunu Libre', sans-serif;
  font-size: 4vw;

  width: 75vw;
  margin: 1rem;

}

.playlist-image {

  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  border:2px rgb(255, 255, 255);
  border-style: solid;

}

.playlist-play-button {
  
  
  width: 20vw;
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 2vw;
  border-radius: 2rem;
  // max-height: 4rem;
  // align-self: center;
}
