// @import "styles/mixins.scss";
// @import "styles/variables.scss";

.saved-playlist {

  // border: fuchsia;
  // border-style: dotted;

  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.heading {

  // border: rgb(0, 17, 255);
  // border-style: dotted;

  color:rgb(0, 0, 0);
  text-align: center;
  font-family: 'Gemunu Libre', sans-serif; 
  font-weight: 600;
  font-size: 4rem;


}

.saved-playlist-items-container {
  
  // border: rgb(179, 255, 0);
  // border-style: dotted;

  border-radius: 3rem;
}