// @import "styles/mixins.scss";
// @import "styles/variables.scss";

.media-item {

  // border:fuchsia;
  // border-style: dotted;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: rgb(0, 0, 0);
  

  
 
}

.media-image {
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  border:2px rgb(255, 255, 255);
  border-style: solid;
}

.media-info {
  width: 85vw;
  padding-left: 1rem;
}


.media-info-line {
  
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 2rem;
  text-align: left;
}



