.current-playlist{
  // border: fuchsia;
  // border-style: dotted;

  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.current-playlist-items-container {
  // border: rgb(179, 255, 0);
  // border-style: dotted;

  border-radius: 3rem;
  // background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  color:whitesmoke; 

}