.home {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #e6e6e600;

  background-image: url("https://www.transparenttextures.com/patterns/old-map.png");
  // background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  // background-color: rgba(165, 163, 139, 0.876);

}

.saved-playlists-container {
  // border: blueviolet;
  // border-style: dotted;
  // height:80vh;
 

  width: 50vw;
  text-align: center;
  overflow-y: auto;
  overflow-x:hidden;
  scroll-behavior: smooth;

}

.new-playlist-container {
  // border: red;
  // border-style: dotted;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-content:stretch;
  justify-content:flex-start;
  overflow-y: auto;
  overflow-x:hidden;
  scroll-behavior: smooth;
  white-space:nowrap;
}
