@import "~bootstrap/scss/bootstrap";


.form{
  padding-top: 1vh;
  padding-left: 4vh;
  padding-right: 4vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 30vw;
  height: 60vh;
  left:35vw;
  right: 35vw;
  top: 20vh;
  bottom: 20vh;
  border-radius: 1%;
  // border:solid 2px black;

  .form-main{
    padding-top: 4vh;
    display:flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-evenly;
  }
  

  .header{
    height: 2vw;
    padding-bottom: 4vh;
    margin-left: -3vh;
    .close-button{
      font-size: 3vh;
      padding: 2vh;
      width: 5vh;
      height: 5vh;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 50%;
       &:hover{
        cursor: pointer;
        background-color: lightgray;
       }
    }
    .buttons{
      margin-top: 3vh;
    }
    .alert{
      display: hidden;
    }
  }

  

}

.title-login{
  min-width: 30vw;
  position: absolute;
  background-color: transparent;
  z-index: 1;
  text-transform: uppercase;
  color:  rgb(62, 2, 2);
  font-family: 'Gemunu Libre', sans-serif;
  display: flex;
  justify-content: space-between;
  top: 9%;
  left: 32%;
  right: 25%;
  font-size: 4rem;
  letter-spacing: 3rem;
  font-weight: bold;
}
