@font-face{
  font-family: 'Explora';
  src:'https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800&display=swap'
}

.name{
  position: absolute;
  background-color: transparent;
  z-index: 1;
  // color: rgba(243, 138, 18, 0.6);
  color:  rgb(62, 2, 2);
  font-size: 8rem;
  font-family: 'Gemunu Libre', sans-serif;
  text-transform: uppercase;
  letter-spacing: 6rem;
  text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;
  top: 45%;
  left: 15%;
  right: 30%;
  pointer-events: none;
  font-weight: bold;
}
.menu{
  min-width: 30vw;
  position: absolute;
  background-color: transparent;
  z-index: 1;
  text-transform: uppercase;
  color: white;
  font-family: 'Gemunu Libre', sans-serif;
  display: flex;
  justify-content: space-between;
  top: 65%;
  left: 35%;
  right: 30%;
  font-size: 4rem;

  .link{
    &:hover{
      color:  rgb(62, 2, 2);
      font-weight: bold;
      text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;
      cursor: pointer;
    }
  }
}

