.new-p-container {
  width:50%;
  border: 3px solid white;
  background-color: rgb(2, 2, 98);
  color:whitesmoke;
  height:100%;

  display: flex;
  flex-direction: column;
  align-content: center;



h1 {
  align-self: center;
}
table {
  width:90%;
  align-self: center;
   border:2px;
}
}