.navbar{
  // position: fixed;
  // top:0;
  height: 5vh;
  // z-index: 5;
  // margin-top:1px;
  font-family: 'Gemunu Libre', sans-serif;
}

.username{
  font-weight: bold;
  color:white;
  
}

.image{
  border-radius: 50% !important;
}