.new-p-container {
  width: 30%;
  height: 80vh !important;
  // border: 3px solid white;
  // border-radius: 20px;  
  background-image: url("https://www.transparenttextures.com/patterns/old-map.png");

  // background-color: rgb(100, 30, 30);
  color:rgb(205, 179, 179);
  font-size:1.3rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow-y: auto;
  overflow-x:hidden;
  scroll-behavior: smooth;
  // white-space:nowrap;
 

.h-pl {
  color:rgb(12, 12, 11);
  font-family: 'Gemunu Libre', sans-serif !important; 
  font-weight: bolder;
  font-size: 3rem;
  text-transform: uppercase;

}
.h-name {
  color:rgb(19, 17, 18);
  font-style: italic;
  
}

input, select{
  width:80%;
  height:2rem;
  background-color: lightgray;
  
  }

  label, h1{
    color:rgb(10, 10, 10);
  }
 

h1 {
  align-self: center;
}
table {
  margin-left: 2rem !important;
  
}
.search-results-container {
  width:98%;
  padding: 2px;
  margin:10px;
}
.gap{
  min-width:50px;
  width:5rem;
}

}
